{
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "crlf",
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "importOrderSeparation": true,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
